<div class="footer">
  <p> Siga nossas redes sociais </p>
  <div class="footer-links">
    <a href="https://www.instagram.com/elayneesmeraldopsicologa/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/reinventarsepsicologia"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/zucacritica"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/elayne-esmeraldo-nogueira-9076a2150/"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
