<div class="banner">
  <%= cl_image_tag ("https://res-console.cloudinary.com/dlheghq6r/thumbnails/v1/image/upload/v1603200530/czVtaWo4Y3NiY21paXhrZnZ6dWg=/preview")%>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="box-a" data-aos="fade-right">
        <h3>Nunca é demais lembrar o peso e o significado destes problemas, uma vez que o comprometimento entre as equipes auxilia a preparação e a composição dos modos de operação convencionais..</h2>
      </div>
    </div>
  </div>
  <div class="d-flex flex-row-reverse">
    <div class="col-12 col-lg-8">
      <div class="box-b" data-aos="fade-left">
        <h3>O incentivo ao avanço tecnológico, assim como a necessidade de renovação processual representa uma abertura para a melhoria dos procedimentos normalmente adotados.</h3>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="box-c" data-aos="fade-up">
        <h3>Desta maneira, o entendimento das metas propostas obstaculiza a apreciação da importância do fluxo de informações.</h3>
      </div>
    </div>
  </div>
</div>