.banner {
    background-image: url("logo oficial.jpeg");
    background-size: 30%;
    background-position: center;
    background-color: #56335B;
    background-repeat: no-repeat;
    padding: 20% 0%;
    width: 100%;
    height: 40vh;
    margin: 0%;
  }